*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #fff;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #ffffff;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}
#nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}
#page>h3{
    position: absolute;
    top: 55%;
    font-family: gilroy;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
}
#page>h4{
    position: absolute;
    top: 62%;
    left: 25%;
    font-family: gilroy;
    font-weight: 500;
    color: aliceblue;
}

#page1>#right-text{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page1>#right-text>h3{
    font-weight: 400;
    /*color: #7c7c7c;*/
}
#page1>#right-text>h1{
    line-height: 1.5;
    font-size: 50px;
}
#page1>#left-text{
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
}
#page1>#left-text>h1{
    font-size: 50px;
    line-height: 1.5;
}
#page1>#left-text>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2>#text1>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1>h1{
    font-size: 60px;
    line-height: 1.5;
}
#page2>#text2{
    position: absolute;
    top: 55%;
    right: 10%;
    text-align: end;
}
#page2>#text2>p{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3{
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page3>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3>h1{
    font-size: 70px;

}
.gradient-text {
    background: linear-gradient(to right, #FFC0CB, #FFA07A, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.gradient-text-header {
    background: linear-gradient(to right, #f84edc, #be33f5, #0440f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    
}

/* footer section CSS code snippet */
footer {
    opacity: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    color: #fff;
    padding: 20px;
    text-align: center;
    background: url(../img/footer.png); /* Load footer image on static/img folder */
    z-index: 1;
}
/* Hide footer on fist page */
.hide-footer {
    opacity: 0; /* Initially hide the footer */
    transition: opacity 0.3s ease;
    display: none;
}
/* footer section shop now button CSS code snippet */
.button {
    position: absolute;
    top:35%;
    right: 7%;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
/* above button activate and hover design code set */
.button:active,
.button:hover {
    outline: 0;
}
/*above button span tag design CSS code snippet */
.button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
/* After button hover span tag {which mean span tag hold text.} design code set */
.button:hover span {
    background: none;
}

/* 
    Media query for screens with a minimum width of 768 pixels.
    Adjusts the styling of elements with the class 'button' for larger screens.
*/
@media (min-width: 768px) {
    .button {
        font-size: 24px; /* Increases the font size of buttons for better readability on larger screens */
        min-width: 196px; /* Sets a minimum width for buttons to ensure they remain sufficiently sized on larger screens */
    }
}

