
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.rounded_img
{
  border-radius: 0 50% 0 50%;
}
.container 
{
    position: relative;
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Work Sans";
    color: white;
    font-weight: 300;
    overflow: hidden; /* Hide overflow content */
}
.container .card {
  width: 400px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;/*-webkit-fit-content;*/
  /*height:  -moz-fit-content;*/
  height: fit-content;
  background: linear-gradient(151.54deg, rgba(255, 255, 255, 0.052) 3.19%, rgba(255, 255, 255, 0.013) 79.78%);
  border-radius: 33px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  text-align: center;
  /*overflow-y: scroll;*/
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
}

.container .card img {
  width: 150px;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  -webkit-filter: drop-shadow(10px 10px 23px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 10px 23px rgba(0, 0, 0, 0.25));
}

.container .card .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.container .card .form h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 300;
}

.container .card .form form input {
  display: block;
  background: transparent;
  border: none;
  border-bottom: solid 2px rgba(255, 255, 255, 0.733);
  padding: 12px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
}

.container .card .form form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 18px;
  font-weight: 400;
}

.container .card .form form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 18px;
  font-weight: 400;
}

.container .card .form form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 18px;
  font-weight: 400;
}

.container .card .form form input::placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 18px;
  font-weight: 400;
}

.container .card .form form input:focus {
  outline: none;
}

.container .card .form form button {
  cursor: pointer;
  width: 100%;
  height: 46px;
  background: #ffffff;
  border-radius: 14px;
  border: none;
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
}
